crispy-bootstrap5==2025.6
Django==5.2.8
django-allauth==65.13.1
django-browser-reload==1.21.0
django-crispy-forms==2.5
django-extensions==4.1
django-json-widget==2.1.1
django-jsonform==2.23.2
django-mysql==4.19.0
django-npm-mjs==3.2.1
django-simple-history==3.10.1
django-admin-csvexport==2.3
gunicorn==23.0.0
JSON-minify==0.3.0
mysqlclient==2.2.7
pre-commit==4.5.0
python-dotenv==1.2.1
selenium==4.38.0
webdriver-manager==4.0.2
nodejs-wheel==24.11.1
pip>=25.2
watchdog==6.0.0
