[Unit]
Description=gunicorn service for COPSAC-web

[Service]
Type=simple
RuntimeDirectory=django-gunicorn
WorkingDirectory=/web_gui/cohort-study-kit/
Environment=PYTHONUNBUFFERED=1
ExecStart=/web_gui/venv/bin/gunicorn -c /web_gui/cohort-study-kit/utils/gunicorn/gunicorn.conf.py config.wsgi
# StandardOutput=append:/var/log/gunicorn/error.log
# StandardError=append:/var/log/gunicorn/error.log

[Install]
WantedBy=multi-user.target
