{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static "img/icon/favicon-96x96.png" %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static "img/icon/favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "img/icon/favicon.ico" %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/icon/apple-touch-icon.png" %}" />
    <meta name="apple-mobile-web-app-title" content="Cohort Study Kit" />
    <link rel="manifest" href="{% static "img/icon/site.webmanifest" %}" />
{% endblock %}
