name: test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libmariadb-dev
      - name: Install Python dependencies
        run: |
          pip install --upgrade wheel pip
          pip install -r requirements.txt
      - name: Check migrations
        run: |
          ./manage.py makemigrations --check --dry-run
      - name: Transpile JavaScript
        run: |
          ./manage.py transpile
      - name: Run tests
        run: |
          ./manage.py test
      - name: Upload failed test screenshots
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: failure-artifacts
          path: ${{ github.workspace }}/screenshots/
